body{
    margin: 0;
    padding: 0;
    height: 100hv;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* nav bar */
nav{
    display: flex;
    flex: 3;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    background-color: rgb(1, 116, 116);
}

.nav-letf{
    flex: 2;
}

.nav-right{
    flex: 1;
}

.nav-right ul li{
    list-style: none;
}

.nav-right ul, li, a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: flex;
    margin-left: 30px;
    font-size: 25px;
}
/* sell style */
.title{
    text-align: center;
    margin-top: 50px;
}
#my-table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-top: 20px;
    margin-left: 50px;
    /* margin: auto; */
}

th, td{
    border: 1px solid black;
    text-align: center;
    padding: 10px;

}
#description{ 
     width: 30px; 
} 

thead tr th{
    background-color: #02393a;
    color: white;
    padding: 40px;
}

img, #cloth{
    width: 150px;
    margin-right: 10px;
}

#btn1{
    background: blue;
    padding: 15px;
    border: none;
    border-radius: 5px;
    color: white;
}

#btn2{
    background-color: red;
    color: white;
    margin-left: 20px;
    padding: 15px;
    border: none;
    border-radius: 5px;
}

.creatBtn{
    margin-top: 30px;
    margin-left: 4%;
    padding: 5px;
    font-size: 20px;
    width: 10%;
    border: none;
    border-radius: 5px;
    background-color: rgb(5, 90, 83);
    color: white;
}
/* dialog */
dialog {
    position: fixed;
    top: 18vh;
    left: 20%;
    width: 30%;
    /* z-index: 100; */
    border-radius: 12px;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 0;
    /* margin: 0; */
    margin-left: 20px;
    overflow: hidden;
}
dialog section {
    padding: 1rem;
}

dialog menu {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    border: none;
}

h3{
    text-align: center;
    text-decoration: underline;
}

input[type=text], input[type = number], 
 select{
    padding: 7px;
    width: 96%;
    display: flex;
    margin: 10px 0;
}

.log-in{
    background-color: orange;
    width: 100%;
    border-radius: 20px;
    border: none;
    text-align: center;
    padding: 10px ;
    margin-top: 8px;
    margin-left: 200px;
}

#remember-me{
    text-decoration: underline;
}



main {
    display: flex;
    flex-direction: column;
}
main .search {
    width: 100%;
    background-image: url(../photoes/backround-bt.jpg);
    background-size: cover;
  }
main form {
    height: 50vh;
    margin: auto;
    margin-top: -50px;
    width: 60%;
    display: flex;
    align-items: center;
  }

main form input[type=text] {
    margin: auto;
    padding: 10px;
    font-size: 17px;
    border: none;
    width: 90%;
    background: #f1f1f1;
}

main form button {
    width: 10%;
    padding: 6px;
    background: #60B3D1;
    color: #F4FBFD;
    font-size: 17px;
    border: none;
    border-left: none;
    cursor: pointer;
}

.text-job p {
    font-size: 50px;
    margin-top: -50px;
    text-align: center;
}

.star i{ 
    color: orangered; 
 } 


.list-product{
    display: flex;
    flex-wrap: wrap;
    width: 97%; 
    margin: 20px;
    /* justify-content: space-around; */
}
.card-product{


    background: rgb(191, 201, 199);
    margin: 17px;
    width: 22%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; 
}
.img-product img{
  
    height: 40vh; 
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;

}

.btn-buy{

    background: rgb(234, 233, 233);
    border-radius: 20px;
    width: 90px; 
    margin-right: 10px;
    border: none;
    padding: 10px; 
}