<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Seller</title>
</head>
<body>
    <div class="container">
        <nav>
            <div class="nav-letf">
                <ul>
                    <a href="../../sellWebsite.html"><img src="../../img/logo.png" width="300px"></a>
                </ul>
            </div>
            <div class="nav-right">
                <ul>
                    <li><a href="../customer/customer.html">Customer</a></li>
                    <li><a class="active" href="seller.html">Seller</a></li>
                </ul>
            </div>
        </nav>
        <!-- <div class = "sell">
            <div class="sign-in">
                <h1>Become an seller</h1>
                <button class="sing-in" onclick="clickOnSignIn()">Sing In</button>
                <p>$55 a month + slling fees</p>
            </div>
            <div class="photo-sell">
                <img src="../../img/seller.png" alt="description" width="600px">
            </div>
        </div> -->
        <button class="creatBtn" onclick="clickOnCreatBtn()">Creat </button>
        <table id="my-table">     
            <thead class="header">
                <th id="header-id">UID</th>
                    <th id="header-name"> Name</th>
                    <th id="header-des"> Description</th>
                    <th id="header-price">Price</th>
                    <th id="header-action">action</th>
            </thead>
            <tbody id="body-table">
                <!-- <tr >
                    <td></td>
                    <td></td>
                    <td></td>
                </tr> -->
            </tbody>
        </table>
         <!-- -->
            <!-- <div class="photo-sell">
                <img src="../../img/seller.png" alt="description" width="600px">
            </div> -->
        </div>
        <div id = "form-dialog" style="display: none" >
            <dialog open>
                <header>Create new question</header>
                <section>
                    <div class = "input-form">
                        <label for = "id">Name</label>
                        <input type = "text" id="id">

                        <label for = "name-product">Description</label>
                        <input type = "text" id="name-product">

                        <label for = "descriptions">Price</label>
                        <input type = "number" id="descriptions">

                        <label for = "prices">currency</label>
                        <input type = "number" id="prices">
                    </di>
                </section>
                <menu>
                    <button onclick="onCancel()">Cancel</button>
                    <button id="createEditButton" onclick="onCreate()">Save</button>
                </menu>
            </dialog>
        </div>

    </div>
    <script src="seller.js"></script>
</body>
</html>
