<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Seller</title>
</head>
<body>
    <div class="container">
        <nav>
            <div class="nav-letf">
                <ul>
                    <a href="../../sellWebsite.html"><img src="../../img/logo.png" width="300px"></a>
                </ul>
            </div>
            <div class="nav-right">
                <ul>
                    <li><a href="../customer/customer.html">Customer</a></li>
                    <li><a class="active" href="seller.html">Seller</a></li>
                </ul>
            </div>
        </nav>

        <h1 class="title">SELL YOUR PRODUCT HERE</h1>  
        <button class="creatBtn" onclick="addBtn()">Creat </button>
        <table id="my-table">   
            <thead class="header">
                <tr>
                    <th>ID</th>
                    <th>img</th>
                    <th> Name</th>
                    <th> Description</th>
                    <th>Price</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody id="body-table">
                 <!-- <tr class="tr-container"> 
                    <td id="idu"></td>
                    <td id="img-product">
                        <img id="cloth" src="../../img/17.jpg" alt="">
                    </td>
                    <td id="name">j</td>
                    <td id="description">jkj</td>
                    <td id="price">jkkjkjkjkjk</td>
                    <td id="actions">jkjkjkjkj</td>
                </tr >
                 <tr class="tr-container"> 
                    <td id="idu">jkjkjk</td>
                    <td id="img-product">
                        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Flirikamatoshi.com%2Fproducts%2Fstrawberry-midi-dress&psig=AOvVaw3QldSLanmTOTBo89TnLgDt&ust=1669857643214000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCMCv087e1PsCFQAAAAAdAAAAABAE" alt="">
                    </td>
                    <td id="name"></td>
                    <td id="description">kjk</td>
                    <td id="price">jkj</td>
                    <td id="actions">jkjk</td>
                </tr>
                 <tr class="tr-container"> 
                    <td id="idu"></td>
                    <td id="img-product">
                        <img src="../../img/dress10.jpg" alt="">
                    </td>
                    <td id="name"></td>
                    <td id="description">jkj</td>
                    <td id="price">jkjkjk</td>
                    <td id="actions">jkjkj</td>
                </tr>
             -->
            </tbody>
        </table>
         <!-- -->
            <!-- <div class="photo-sell">
                <img src="../../img/seller.png" alt="name" width="600px">
            </div> -->
        </div>
        <div id = "form-dialog" style="display: none" >
            <dialog open>
                <header>Create new question</header>
                <section>
                    <div class = "input-form">

                        <label for = "photo-product">Product Photo</label>
                        <input type = "text" id="photo-product">
                        
                        <label for = "product-name">Name Product</label>
                        <input type = "text" id="product-name">

                        <label for = "descriptions">Description</label>
                        <input type = "text" id="descriptions">

                        <label for = "prices">Price</label>
                        <input type = "number" id="prices">
<!-- 
                        <label for = "descriptions">currency</label>
                        <input type = "number" id="descriptions"> -->
                    <!-- </di> -->
                </section>
                <menu>
                    <button onclick="onCancel()">Cancel</button>
                    <button id="createEditButton" onclick="onCreate()">Save</button>
                </menu>
            </dialog>
        </div>

    </div>
</body>
<script src="seller.js" ></script>
</html>
