<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Customer</title>
</head>
<body>
    <div class="container">
        <div class="nav-buy">
            <nav>
                <div class="nav-letf">
                    <ul>
                        <a href="#"><img src="../../img/logo.png" width="300px"></a>
                    </ul>
                </div>
                <div class="nav-center">
                    <div class="search">
                        <form class="example" action="/action_page.php">
                            <input type="text" onkeyup = "searchProduct()" placeholder="Search.."  id = "search">
                            <i class="fa fa-search" id="search-btn"></i>
                        </form>
                    </div>
                </div>
                <div class="nav-right">
                    <img src="../../img/photo-buy.png">
                    <span class="count-cart">0</span>
                </div>
            </nav>
        </div>
        <h1 class="title">LISH OF PRODUCT</h1>  
        <div class="list-product">
            <!-- <div class="card-product">
                <div class = "img-product">
                    <img id="product-photo" src="../../img/dress1.jfif" alt="" >
                </div>
                <p id="description">Accounting</p>
                <p id="price">20$</p>
                <button class="btn-buy">buy now</button>
            </div> -->
        </div> 
    </div>
    <script src="customer.js"></script>
</body>
</html>